.App {
  text-align: center;
}
body {
  background-color: #CE1131;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  text-transform: capitalize;
  font-size: 1.75rem;
}
